@model FootballManagerApp.ViewModels.PlayerEditViewModel

<h1 class="text-center mt-2">Edit Player</h1>
<div class="row mt-4 mb-4">
    <div id="player" class="player col-6 col-lg-3 game-player h-100 m-auto">
        <img id="player-image"
             src="@Model.ImageUrl"
             class="player-img-top img-fluid player-image">
        <div class="player-body">
            <h5 id="player-name" class="player-title text-center" data-toggle="tooltip" data-placement="bottom"
                title="Description:<br>Placeholder.">
                @Model.FullName
            </h5>
            <ul class="list-group list-group-flush">
                <li id="player-position" class="list-group-item text-center">@Model.Position</li>
                <li class="list-group-item">
                    <span id="player-speed" class="speed-stat">@Model.Speed</span><span id="player-endurance" class="endurance-stat">@Model.Endurance</span>
                </li>
            </ul>
        </div>
    </div>
    <form class="col-6 col-lg-9" method="post">
        <div class="form-group">
            <label asp-for="@Model.FullName">Full Name</label>
            <input asp-for="@Model.FullName" type="text" class="form-control" id="name-input">
        </div>
        <div class="form-group">
            <label asp-for="@Model.ImageUrl">Image URL</label>
            <input asp-for="@Model.ImageUrl" type="text" class="form-control" id="image-input">
        </div>
        <div class="form-group">
            <label asp-for="@Model.Position">Position</label>
            <select asp-for="@Model.Position" class="form-control" id="position-input">
                <option value="Goalkeeper">Goalkeeper</option>
                <option value="Right Fullback">Right Fullback</option>
                <option value="Left Fullback">Left Fullback</option>
                <option value="Center Back">Center Back</option>
                <option value="Defender">Defender</option>
                <option value="Striker">Striker</option>
                <option value="Winger">Winger</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Speed">Speed</label>
            <input asp-for="@Model.Speed" type="number" class="form-control" id="speed-input">
        </div>
        <div class="form-group">
            <label asp-for="@Model.Endurance">Endurance</label>
            <input asp-for="@Model.Endurance" type="number" class="form-control" id="endurance-input">
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description">Description</label>
            <textarea asp-for="@Model.Description" class="form-control" id="description-input"></textarea>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Edit</button>
    </form>
</div>